body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

#orderInputSection {
    display: none;
    margin-top: 20px;
}

.order-input-section p {
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#saveButton {
    width: 80px;
}

.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

.notification.success {
    background-color: #007bff;
    color: #fff;
}

.notification.error {
    background-color: #dc3545;
    color: #fff;
}